* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

img {
  width: 400px;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-actions {
  display: flex; 
}

.card-actions > * {
  margin-right: 10px;
  padding: 10px;
}
