<section class="block">
  <h2 class="block__heading">Heading</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio nisi vel
    quos dolorem ea aspernatur ex, porro omnis eos sit!
  </p>
</section>
<section class="block block--dark block--skewed-left">
  <h2 class="block__heading">Heading</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio nisi vel
    quos dolorem ea aspernatur ex, porro omnis eos sit!
  </p>
</section>
