<button class="btn btn--primary">Buy now</button>
<button class="btn btn--secondary">Buy now</button>
<button class="btn btn--accent">Buy now</button>
<button class="btn btn--outline">Buy now</button>

<button class="btn btn--outline btn--block btn--primary">Buy now</button>
<a href="" class="btn btn--block btn--secondary">Buy Now</a>
