<div style="width: 30%; padding: 4rem">
  <div class="card card--secondary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium
      consequatur repellat deserunt illum aliquam possimus porro praesentium
      error, nam quia.
    </div>
  </div>
</div>
