<section class="block container block-domain">
  <header class="block__header">
    <h2 class="">Starting at $9 per month</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius eum hic
      vitae, praesentium iste quasi dolore iure fuga tempora saepe?
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter domain name here" />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="./assets/img/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>

  <ul class="list block-domain__prices">
    <li><span class="badge badge--secondary">.com $9</span></li>
    <li>.sg $10</li>
    <li>.space $11</li>
    <li>.info $14</li>
    <li>.ph $15</li>
    <li>.xyz $10</li>
  </ul>
</section>
