<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to keep Growing.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, quae!</p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="./assets/img/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to use</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione
        nostrum officiis dolore veniam ex et voluptatum laboriosam laborum iusto
        dolores?
      </p>
      <a href="#" class="link-arrow">Learn more</a>
    </div>
    <picture>
      <source
        srcset="./assets/img/easy.webp 1x, ./assets/img/easy@2x.webp 2x"
        type="image/webp"
      />
      <source
        srcset="./assets/img/easy.jpg 1x, ./assets/img/easy@2x.jpg 2x"
        type="image/jpg"
      />
      <img class="feature__img" src="./assets/img/easy@2x.jpg" alt="" />
    </picture>
  </article>
</section>

<section class="block container">
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="./assets/img/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to use</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione
        nostrum officiis dolore veniam ex et voluptatum laboriosam laborum iusto
        dolores?
      </p>
      <a href="#" class="link-arrow">Learn more</a>
    </div>
    <picture>
      <source
        srcset="./assets/img/easy.webp 1x, ./assets/img/easy@2x.webp 2x"
        type="image/webp"
      />
      <source
        srcset="./assets/img/easy.jpg 1x, ./assets/img/easy@2x.jpg 2x"
        type="image/jpg"
      />
      <img class="feature__img" src="./assets/img/easy@2x.jpg" alt="" />
    </picture>
  </article>
</section>

<section class="block container">
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="./assets/img/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to use</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione
        nostrum officiis dolore veniam ex et voluptatum laboriosam laborum iusto
        dolores?
      </p>
      <a href="#" class="link-arrow">Learn more</a>
    </div>
    <picture>
      <source
        srcset="./assets/img/easy.webp 1x, ./assets/img/easy@2x.webp 2x"
        type="image/webp"
      />
      <source
        srcset="./assets/img/easy.jpg 1x, ./assets/img/easy@2x.jpg 2x"
        type="image/jpg"
      />
      <img class="feature__img" src="./assets/img/easy@2x.jpg" alt="" />
    </picture>
  </article>
</section>
