<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Item 1</h2>
        <svg class="icon collapsible__chevron">
          <use xlink:href="./assets/img/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li>
            <a href="#">Website Hosting</a>
          </li>
          <li>
            <a href="#">Automated Wordpress</a>
          </li>
          <li>
            <a href="#">Migrations</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Item 2</h2>
        <svg class="icon collapsible__chevron">
          <use xlink:href="./assets/img/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
        voluptates.
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Item 3</h2>
        <svg class="icon collapsible__chevron">
          <use xlink:href="./assets/img/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
        voluptates.
      </div>
    </section>
    <section class="footer__brand">
      <img src="" alt="LOGO" />
      <p class="footer__copyright">Solutions Resource 2022</p>
    </section>
  </div>
</footer>
