<section class="block block--dark block--skewed-left hero">
  <div class="grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">Cloud Hosting for Pros</h1>
      <p class="hero__tagline">Deploy your websites in less than 60 seconds.</p>
      <a href="#" class="btn btn--accent btn--stretched">Get Started</a>
    </header>
    <picture>
      <source
        srcset="./assets/img/banner.webp 1x, ./assets/img/banner@2x.webp 2x"
        type="image/webp"
      />
      <source
        srcset="./assets/img/banner.png 1x, ./assets/img/banner@2x.png 2x"
        type="image/png"
      />
      <img class="hero__image" src="./assets/img/banner.png" alt="Banner" />
    </picture>
  </div>
</section>
