<input type="text" class="input" placeholder="Enter domain name here" />

<div class="input-group">
  <span class="icon-container">
    <svg class="icon">
      <use xlink:href="./assets/img/sprite.svg#wordpress"></use>
    </svg>
  </span>

  <input type="text" class="input" placeholder="Enter domain name here" />
  <!-- <button class="btn btn--accent">Search</button> -->
</div>
