<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="./assets/img/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci
      suscipit officiis quae possimus est? Facilis, voluptatum similique!
      Explicabo, consequatur! Quaerat!
    </p>
  </div>
</div>
