<nav class="nav collapsible">
  <a class="nav__brand" href="/"><img src="./assets/img/" alt="Logo" /></a>
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="./assets/img/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Hosting</a></li>
    <li class="nav__item"><a href="#">VPS</a></li>
    <li class="nav__item"><a href="#">Domain</a></li>
    <li class="nav__item"><a href="#">Pricing</a></li>
  </ul>
</nav>
