<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet rem mollitia
    similique quisquam quod deserunt deleniti, molestiae pariatur aliquam quis?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="./assets/img/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Doe</h3>
        <p class="quote__company">Solutions Resource Inc.</p>
      </div>
    </div>
  </footer>
</blockquote>
