<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2>User Friendly Control Panel</h2>
  </header>
  <div class="container grid grid--1x2">
    <picture class="block-showcase__image">
      <source
        srcset="./assets/img/ipad.webp 1x, ./assets/img/ipad@2x.webp 2x"
        type="image/webp"
      />

      <source
        srcset="./assets/img/ipad.png 1x, ./assets/img/ipad@2x.png 2x"
        type="image/png"
      />

      <img src="./assets/img/ipad.png" alt="" />
    </picture>
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="./assets/img/sprite.svg#computer"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci
              suscipit officiis quae possimus est? Facilis, voluptatum
              similique! Explicabo, consequatur! Quaerat!
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="./assets/img/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci
              suscipit officiis quae possimus est? Facilis, voluptatum
              similique! Explicabo, consequatur! Quaerat!
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="./assets/img/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci
              suscipit officiis quae possimus est? Facilis, voluptatum
              similique! Explicabo, consequatur! Quaerat!
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
