<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="./assets/img/testimonial.jpg" alt="A Happy, Smiling Customer" />

      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white icon--small">
          <use xlink:href="./assets/img/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>

    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet rem
        mollitia similique quisquam quod deserunt deleniti, molestiae pariatur
        aliquam quis?
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="./assets/img/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">John Doe</h3>
            <p class="quote__company">Solutions Resource Inc.</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>

<!-- testimonial with heading  -->
<section class="block">
  <header class="block__header">
    <h2 class="testimonial__heading">What our Customers are saying ...</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore, fuga.
    </p>
  </header>
  <div class="container">
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img
            src="./assets/img/testimonial.jpg"
            alt="A Happy, Smiling Customer"
          />

          <span class="icon-container icon-container--accent">
            <svg class="icon icon--white icon--small">
              <use xlink:href="./assets/img/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>

        <blockquote class="quote">
          <p class="quote__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet rem
            mollitia similique quisquam quod deserunt deleniti, molestiae
            pariatur aliquam quis?
          </p>
          <footer>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary quote__line">
                  <use xlink:href="./assets/img/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title quote__author">John Doe</h3>
                <p class="quote__company">Solutions Resource Inc.</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
